@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Sixtyfour+Convergence&display=swap');
@font-face {
   font-family: 'Beattech';
   src: url('fonts/Beattech.otf');}

body {
    background: #9bd8d8;
    color: black;
    margin: 0px;}

head {
   background: #a4eeee;}

header {
   font-size: 32px;
   padding: 2%;
   border-bottom: solid 2px rgb(24, 24, 184);
   color: rgb(175, 31, 31); 
   font-family: "Beattech";}

div {
   margin: 40px;}

p {
   margin: 45px;}

h1 {
   padding-left: 40px;
   border:solid black;}

img {
   text-align: center;
}

